/*CSS reset settings here*/
/*
*{
 margin: 0px;
 padding: 0px;
}
*/
.wrapper{
 width: 975px;
 height: 565px;
 background-color:#262556;
 padding: 15px;
}
.header{
 height: 50px;
 width: 100%;
 background-color:#c92e2e;
display: block;
margin-bottom: 10px;
border-radius: 20px;
/*padding-left: 15px;*/
padding-top: 15px;
  text-indent: 20px;
  text-align: left;
}
.header span{
  color:#bfc1c1;
  font-size: 35px;
  font-family: Times, Georgia, serif;
  /*text-indent: 20px;*/
}
.navigation{
  height:250px;
  width: 215px;
  background-color: #039196;
  display:inline-block;
  /*float:left;*/
  position:relative;;
  /*left:23px;*/
  border-radius: 20px;
  /*text-align: left;*/
  margin-right: 5px;
  /*text-align: left;*/
}
.navigation a{
  font-size: 14px;
  color: #00e9ff;
  /*text-align: left;*/
}
.navigation li{
  color:#d8d8d8;
}
.main_content{
 height: 405px;
 width: 730px;
 background-color: black;
 display:inline-block;
 /*margin-left: 15px;
 margin-bottom: 15px;*/
 position: relative;
 padding: 10px;
 /*left:190px;*/
 border-radius: 20px;
 text-indent: 15px;
 vertical-align: top;
 margin-bottom: 10px;
 color: #bfc1c1;
 text-align: left;
 font-size:14px;
 font-family: Times, Georgia, serif;
 }
 .main_content a{
   font-size: 16px;
   color:#36d8ad;
 }
 .main_content span{
   color:#898db2;
 }
 .footer{
   width: 960px;
   height: 40px;
   /*height: px;*/
   display: inline-block;
   background-color: grey;
   position: relative;
   /*bottom: 140px;*/
   /*left:23px;*/
   border-radius: 20px;
   vertical-align: top;
   text-align: left;
   padding-top: 15px;
   padding-left: 15px;
 }
 .footer{
   color: #d8d8d8;
   font-family: Times, Georgia, serif;
 }
 .footer a{
   color:#36d8ad;
 }
